@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background-dots: rgba(0, 0, 0, 0.03);
  --radius: 0.75rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.143 0.003 271.9282674829111);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.143 0.003 271.9282674829111);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.143 0.003 271.9282674829111);
  --primary: oklch(0.579 0.191 267.3548141038502);
  --primary-foreground: oklch(0.96 0.003 272.6281326778613);
  --secondary: oklch(0.967 0.004 272.61346836892545);
  --secondary-foreground: oklch(0.205 0.015 271.74756727738543);
  --muted: oklch(0.967 0.004 272.61346836892545);
  --muted-foreground: oklch(0.501 0.087 270.1873691459851);
  --accent: oklch(0.885 0.033 272.243227984697);
  --accent-foreground: oklch(0.192 0.04 269.5731168861779);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.882 0.015 272.4798646963386);
  --input: oklch(0.882 0.015 272.4798646963386);
  --ring: oklch(0.579 0.191 267.3548141038502);
  --chart-1: oklch(0.579 0.191 267.3548141038502);
  --chart-2: oklch(0.745 0.093 270.9829399040219);
  --chart-3: oklch(0.856 0.041 272.10139319851476);
  --chart-4: oklch(0.456 0.24 264.37006225118245);
  --chart-5: oklch(0.382 0.187 264.75517983903717);
  --sidebar: oklch(0.967 0.004 272.61346836892545);
  --sidebar-foreground: oklch(0.205 0.015 271.74756727738543);
  --sidebar-primary: oklch(0.579 0.191 267.3548141038502);
  --sidebar-primary-foreground: oklch(0.96 0.003 272.6281326778613);
  --sidebar-accent: oklch(0.885 0.033 272.243227984697);
  --sidebar-accent-foreground: oklch(0.192 0.04 269.5731168861779);
  --sidebar-border: oklch(0.882 0.015 272.4798646963386);
  --sidebar-ring: oklch(0.579 0.191 267.3548141038502);
}

.dark {
  --background-dots: rgba(255, 255, 255, 0.02);
  --background: oklch(0.200 0.024 271.03952637990255);
  --foreground: oklch(0.960 0.003 272.6281326778613);
  --card: oklch(0.238 0.033 270.7984613233436);
  --card-foreground: oklch(0.960 0.003 272.6281326778613);
  --popover: oklch(0.238 0.033 270.7984613233436);
  --popover-foreground: oklch(0.960 0.003 272.6281326778613);
  --primary: oklch(0.588 0.168 268.1719485023316);
  --primary-foreground: oklch(0.949 0.019 272.4452469519824);
  --secondary: oklch(0.312 0.029 271.4828995935607);
  --secondary-foreground: oklch(0.958 0.005 272.6018727837186);
  --muted: oklch(0.312 0.029 271.4828995935607);
  --muted-foreground: oklch(0.703 0.031 272.154700569603);
  --accent: oklch(0.423 0.123 268.08193331712414);
  --accent-foreground: oklch(0.952 0.013 272.5100823956077);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.387 0.049 270.9384413813978);
  --input: oklch(0.387 0.049 270.9384413813978);
  --ring: oklch(0.588 0.168 268.1719485023316);
  --chart-1: oklch(0.588 0.168 268.1719485023316);
  --chart-2: oklch(0.685 0.132 269.8552620320184);
  --chart-3: oklch(0.786 0.091 271.13326149293084);
  --chart-4: oklch(0.466 0.168 266.79501326465095);
  --chart-5: oklch(0.400 0.115 268.14384227500904);
  --sidebar: oklch(0.311 0.048 270.51508096585985);
  --sidebar-foreground: oklch(0.960 0.003 272.6281326778613);
  --sidebar-primary: oklch(0.588 0.168 268.1719485023316);
  --sidebar-primary-foreground: oklch(0.949 0.019 272.4452469519824);
  --sidebar-accent: oklch(0.423 0.123 268.08193331712414);
  --sidebar-accent-foreground: oklch(0.952 0.013 272.5100823956077);
  --sidebar-border: oklch(0.387 0.049 270.9384413813978);
  --sidebar-ring: oklch(0.588 0.168 268.1719485023316);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .svg-backgrounds {
    background-image:
      repeating-radial-gradient(
        circle at center center,
        transparent 0px,
        transparent 13px,
        var(--background-dots) 13px,
        var(--background-dots) 24px,
        transparent 24px,
        transparent 62px,
        var(--background-dots) 62px,
        var(--background-dots) 96px
      ),
      repeating-radial-gradient(
        circle at center center,
        var(--background) 0px,
        var(--background) 14px,
        var(--background) 14px,
        var(--background) 18px,
        var(--background) 18px,
        var(--background) 28px,
        var(--background) 28px,
        var(--background) 32px
      );
    background-size: 21px 21px;
  }
}

*::-webkit-scrollbar {
  display: none;
}
